name: MarkDown Linter
on:
  workflow_call:
    inputs:
      config_file:
        description: 'Path to the markdownlint configuration file - relative to the repository root'
        required: false
        type: string
        default: '.markdownlint-cli2.jsonc'
      context:
        required: false
        type: string
        default: 'markdown:lint'
        description: 'Identifier for the workflow when reporting status'

permissions:
  statuses: write
  contents: read

jobs:
  markdown-linter:
    name: MarkDown
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install markdownlint and gh dependencies
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm install -g markdownlint-cli2
          gh extension install thetechcollective/gh-set-status --pin stable        

      - name: Markdown Linting
        id: markdown-linting
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
 
        run: |
          set +e
          markdownlint-cli2 --config ${{ inputs.config_file }} > "${{ inputs.context }}.log" 2>&1
          result=$?
          set -e
          cat "${{ inputs.context }}.log"
          if [ $result -eq 0 ]; then result_icon=✅; else result_icon=❌; fi
          echo "## $result_icon \`${{ inputs.context }}\`" >> $GITHUB_STEP_SUMMARY
          echo '```'                                       >> $GITHUB_STEP_SUMMARY
          cat "${{ inputs.context }}.log"                  >> $GITHUB_STEP_SUMMARY
          echo '```'                                       >> $GITHUB_STEP_SUMMARY
          if [ $result -eq 0 ]; then
            gh set-status success "All linting policy checks passed" "${{ inputs.context }}"
          else
            gh set-status failure "Some linting policy checks failed" "${{ inputs.context }}"
          fi
          exit $result