
name: Ready
# This workflow is triggered by 'ready' branches 

on:
  workflow_dispatch:
  push:
    branches: 
      - 'ready/*'
      
jobs:

  inherit-statuses:
    name: Inherit
    permissions:
      statuses: write
      contents: read
    uses: lakruzz/workflows/.github/workflows/inherit_statuses.yml@experimental
  
  merge-to-trunk:
    name: Merge to trunk
    needs:
      - inherit-statuses
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.READY_PUSHER }}

      - uses: lakruzz/workflows/actions/ready@experimental
        with:
          user_name: "Ready Pusher" #required
          user_email: "ready-pusher@devopsdays.dk" #required
          token: ${{ secrets.READY_PUSHER }} #required, must have the right permissions
          # target_branch: main #default is main
          # delete_dev_branch: true # default is true
          # delete_ready_branch: true # default is true
          # close_pr: true # default is true
          # close_issue: true # default is true