name: Wrapup
# This workflow is triggered on push to branches that begins with a number (issue-branches)
# It's designed to support the wrapup process in thetechcollective/gh-tt GitHub CLI extension
on:
  workflow_dispatch:
  push:
    branches: 
      - '[0-9]*'

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:

  mark-pending:
    name: Pending
    permissions:
      statuses: write
      contents: read
    uses: lakruzz/workflows/.github/workflows/mark_pending.yml@experimental
    with:
      statuses: |
        spell:check
        markdown:lint
        
  cspell_check:
    name: Check
    needs: mark-pending
    permissions:
      statuses: write
      contents: read
    uses: lakruzz/workflows/.github/workflows/cspell_check.yml@experimental
    with:
      config_file: cspell.json
  
  markdown_linting:
    name: Linting
    needs: mark-pending
    permissions:
      statuses: write
      contents: read
    uses: lakruzz/workflows/.github/workflows/markdown_linter.yml@experimental
    with:
      config_file: .markdownlint-cli2.jsonc

